@import '../../styles/mixins';

.WeatherData {
  overflow: auto;
  margin: 20px 0;
  width: 560px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond(small-phone) {
    width: 95%;
  }

}
