.Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Container p {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
  margin-bottom: 3px;
}

.Container span {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
}

@media (max-width: 27.5em) {
  .Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 27.5em) {
  .MainDetailContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.WeatherIcon {
  width: 150px;
  height: 150px;
}

.Details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 25px;
  border-left: 2px solid #dedede;
  padding-left: 10px;
}

.Details p {
  width: 30%;
}
