.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  overflow: hidden;
  height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
}
